.data-birds {
  max-width: 70%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  .wrapper-birds {
    background: $back2;
    border-radius: 5px;
    width: 48%;
    overflow: hidden;
    .wrapper-list {
      width: 150%;
    }
    ul li {
      display: block;
      list-style: none;
      font-size: 23px;
      padding: 10px 0 10px 30px;
      border-bottom: 1px solid $text2;
      color: $text2;
      margin: 0;
      &:hover{
        background: #777;
      }
      cursor: pointer;
      .dot {
        display: inline-block;
        width: 10px;
        height: 10px;
        margin-right: 15px;
        border-radius: 50%;
        background: #555;
        margin-bottom: 4px;
      }
    }
  }
  .chouse-birds {
    background: $back2;
    border-radius: 5px;
    width: 48%;
    p {
      color: $text2;
      padding: 10px 0 0 10px;
    }
  }
}



