.next-level {
    display: block;
    width: 70%;
    margin: 20px auto;
    color: $text2;
    text-align: center;
    background: $back2;
    padding: 15px 0;
    border-radius: 5px;
    cursor: pointer;
}