.main-wrapper {
    max-width: 70%;
    margin: 30px auto;
    display: flex;
    background: $back2;
    padding: 25px;
    border-radius: 5px;
}

.main-wrapper > .img {
    width: 15rem;
    margin-left: 10px;
}

.main-wrapper > .content-bird {
    flex: 50%;
}

.content-bird {
    display: block;
    h3 {
        border-bottom: 1px solid $text2;
        font-size: 43px;
        margin-bottom: 20px;
        color: $text2;
    }
}