.main-wrapper {
    max-width: 75%;
    margin: 20px auto;
    display: flex;
    background: $back2;
    padding: 25px;
    border-radius: 5px;
}

.main-wrapper > .img {
    width: 15rem;
    margin-left: 10px;
    max-width: 220px;
    max-height: 150px;
    border-radius: 7px;
}

.main-wrapper > .content-bird {
    flex: 50%;
}

.content-bird {
    display: flex;
    h3 {
        border-bottom: 1px solid $text2;
        font-size: 43px;
        margin-bottom: 20px;
        color: $text2;
        padding-bottom: 10px;
    }
}

.new-h3 {
    color: $text2;
    margin: 10px 10px 0 10px;
    padding-bottom: 5px;
    font-size: 1.5rem;
}

.new-h4 {
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 18px;
    
}

.new-image {
    float: left;
    width: 200px;
    height: 140px;
    border-radius: 7px;
    margin: 5px 10px 7px 10px;
}

.new-desc {
    line-height: 1.3;
    font-size: 1.0em;
}

button {
    border: none;
}


@media (max-width: 860px) {

    .main-wrapper{
        flex-direction: column;
    }

    .content-bird {
        flex-direction: column;
    }
}

@media (max-width: 420px) {

    .content-bird img,
    .main-wrapper img {
        margin-right: 0;
        width: 100%;
    }

}