.nav-bar {
  max-width: 70%;
  margin: 20px auto;
  
  ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    background: rgb(96,141,200);
    $text: rgb(166,34,145);;
    border-radius: 4px;
    min-height: 52px;
  }
  li {
    list-style: none;
  }
  a {
    color: $text2;
    text-decoration: none;
  }
}

@media screen and (max-width: 930px) {
  .nav-bar ul {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 630px) {
  .nav-bar ul {
    flex-direction: column;
  }
}

