.nav-bar {
    max-width: 60%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background: $back2;
    border-radius: 4px;
    min-height: 35px;
    a {
        color: $text2;
        text-decoration: none;
        padding: 17px 15px;
    }
}