$back: rgb(255, 255, 255);
$back2: rgba(96, 141, 200, 0.7);
$back3:rgba(145, 211, 246, 0.7);
$back4:rgba(210, 130, 226, 0.7);
$text: rgb(166, 34, 145);
$text2: rgb(255, 255, 255);
$gray: rgb(153, 153, 153);;
