.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.7);
  }

  .container {
    position: inherit;
  }

  .modal-body {
    position: relative;
  }
  
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
  }

 .modal-hidden {
    animation-name: animatebottom;
    animation-duration: 0.4s;
 }

  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }

  @-webkit-keyframes animatebottom {
      from {top:0; opacity:1}
    to {top:-300px; opacity:0} 
  }
  
  @keyframes animatebottom {
      from {top:0; opacity:1}
    to {top:-300px; opacity:0}
  }
  
   .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: $gray;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 12px 16px;
    background-color: $win;
    color: white;
  }
  
  .modal-body {padding: 2px 16px;}
  
  .modal-footer {
    padding: 12px 16px;
    background-color: $win;
    color: white;
  }


  