.bg-wrapper {
  display: block;
  position: relative;
}

.bg-main {
  z-index: -1;
  position: relative;
  left: 0px;
  right: 0px;
  top: -70px;
}

.css-adaptive {
  display: block;
  max-width: 100%;
  height: auto;
}

.ellipse {
  position: absolute;
  border-radius: 50%;
  width: 30%;
  height: 60%;
  left: calc(50% - 230px + 239.5px);
  top: 85px;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
}

.text {
  position: absolute;
  width: 500.31px;
  height: 400px;
  left: 80px;
  top: 72px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 106.496px;
  line-height: 75%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.text > span {
  color: #ffee2e;
}

.button-header {
  position: absolute;
  left: calc(50% - 144px + 332px);
  top: 71%;
}

input[type=range] {
  height: 12px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #F0EDE9;
  border-radius: 25px;
  border: 0px solid #000101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 6px;
  width: 116px;
  border-radius: 5px;
  background: #FE9013;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 1px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #F0EDE9;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #F0EDE9;
  border-radius: 25px;
  border: 0px solid #000101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 6px;
  width: 50px;
  border-radius: 5px;
  background: #FE9013;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #F0EDE9;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #F0EDE9;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #000000;
  height: 6px;
  width: 50px;
  border-radius: 5px;
  background: #FE9013;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #F0EDE9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #F0EDE9;
}

@media (max-width: 1300px) {
  .bg-wrapper {
    overflow: hidden;
  }
  .bg-main {
    width: 100%;
  }
  .css-adaptive {
    position: relative;
    left: 0px;
    top: 40px;
    transform: scale(1.18);
    overflow: hidden;
  }
  .ellipse {
    width: 36.5%;
    height: 75%;
    left: calc(45% - 230px + 239.5px);
    top: 62px;
  }
  .text {
    height: 400px;
    left: 4px;
    top: 48px;
    font-size: 5.4em !important;
  }
  .button-header {
    left: calc(38% - 144px + 332px);
    top: 83%;
    width: 29%;
    height: 11%;
  }
}

@media (max-width: 840px) {
  .bg-main {
    top: -40px;
  }
  .ellipse {
    width: 36.5%;
    height: 75%;
    left: calc(50% - 230px + 239.5px);
    top: 50px;
  }
  .text {
    left: 50px;
    top: 39px;
    font-size: 3.4em !important;
    text-align: center;
    width: 100%;
  }
  .text > span {
    color: #ffee2e;
    position: relative;
    right: 5px;
  }
  .button-header {
    left: calc(-29% - 125px + 332px);
    top: 79%;
    width: 46%;
    height: 17%;
  }
}

@media (max-width: 420px) {
  .bg-main {
    top: -27px;
  }
  .ellipse {
    width: 36.5%;
    height: 75%;
    left: calc(49% - 230px + 239.5px);
    top: 50px;
  }
  .text {
    left: 21px;
    top: 21px;
    font-size: 1.7em !important;
    text-align: center;
    width: 100%;
  }
  .button-header {
    left: calc(-60% - 125px + 332px);
    top: 133%;
    width: 92%;
    height: 34%;
  }
}





